<% @posts.each do |post| %>
<div>
  <h2><%= post.title %></h2>
  <p>
  <% if user_signed_in? %>
  <%= post.user.username %>
  <% else %>
  <%= "Member" %>
  <% end %>
  </p>
  <p><%= post.body %></p>
</div>
<% end %>
<% if user_signed_in? %>
<%= button_to "Sign out", destroy_user_session_path, method: :delete%>
<% else %>
<%= link_to "Log in", new_user_session_path %><br />
<% end %>
<%= link_to "new post", new_post_path %>
<%= button_to "Delete account", user_registration_path, data: { turbo_confirm: "Are you sure?"}, method: :delete%>